Repository zhengxs2018/erniebot-sdk-for-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

补充使用示例
  .cspell.yaml
  README.md
  packages/erniebot-cli/README.md
  packages/erniebot-cli/src/chat.ts
  packages/erniebot-cli/src/index.ts
  packages/erniebot-cli/src/version.ts
  packages/erniebot-cli/vite.config.ts
  packages/erniebot-util/package.json
  packages/erniebot-util/tsconfig.json
  packages/erniebot-util/tsconfig.node.json
  packages/erniebot-util/vite.config.ts
  packages/erniebot/README.md
  packages/erniebot/api-extractor.json
  packages/erniebot/package.json
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/core/client.ts
  packages/erniebot/src/cross-platform/util.ts
  packages/erniebot/src/erniebot.ts
  packages/erniebot/src/resources/chat/completions.ts
  packages/erniebot/src/resources/completions.ts
  packages/erniebot/src/resources/index.ts
  packages/erniebot/vite.config.ts
  samples/src/embeddings.ts
Due: eslint, prettier --check

修改依赖版本
  packages/erniebot-cli/package.json
  samples/package.json
Due: prettier --check

修复版本字符串类型错误
  packages/erniebot-cli/src/version.ts
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/version.ts
Due: eslint, prettier --check

修复 git 配置错误
  packages/erniebot-cli/package.json
  packages/erniebot/package.json
Due: prettier --check

不再输出 cjs 文件
  packages/erniebot-cli/package.json
  packages/erniebot-cli/tsconfig.json
  packages/erniebot-cli/vite.config.ts
Due: eslint, prettier --check

规范模块导入
  packages/erniebot/src/core/streaming.ts
  packages/erniebot/src/index.ts
  packages/erniebot/src/resources/chat/completions.ts
  packages/erniebot/src/resources/index.ts
Due: eslint

添加 deno 示例
  package.json
  samples-deno/.vscode/settings.json
  samples-deno/hello.ts
  samples/embeddings.ts
  samples/functions.ts
  samples/hello.ts
  samples/package.json
  setup.cjs
  tsconfig.json
  vscode.code-workspace
Due: eslint, prettier --check

让 backend 支持 parseResponse 函数
  packages/erniebot/package.json
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/backends/aistudio.ts
  packages/erniebot/src/backends/backend.ts
  packages/erniebot/src/core/client.ts
  packages/erniebot/src/erniebot.ts
Due: eslint, prettier --check

添加调用示例
  README.md
Due: prettier --check

Backend 支持更多方法
  packages/erniebot/src/backends/aistudio.ts
  packages/erniebot/src/backends/backend.ts
  packages/erniebot/src/core/client.ts
  packages/erniebot/src/erniebot.ts
Due: eslint

release erniebot 0.1.0-alpha.2
  packages/erniebot/package.json
  packages/erniebot/review/erniebot.api.md
Due: prettier --check

修复 AI 对话结果不是字符串的问题
  packages/erniebot/package.json
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/backends/aistudio.ts
Due: eslint, prettier --check

release erniebot 0.1.0-alpha.4
  packages/erniebot/package.json
Due: prettier --check

修改 JS SDK 版本号读取错误
  packages/erniebot-cli/src/chat.ts
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/index.ts
Due: eslint, prettier --check

兼容 AIStudio 和 千帆 的错误码
  .cspell.yaml
  README.md
  package.json
  packages/erniebot-cli/package.json
  packages/erniebot/.node-version
  packages/erniebot/package.json
  packages/erniebot/review/erniebot.api.md
  packages/erniebot/src/backend.ts
  packages/erniebot/src/backends/aistudio/index.ts
  packages/erniebot/src/backends/bce/auth.ts
  packages/erniebot/src/backends/bce/qianfan.ts
  packages/erniebot/src/backends/index.ts
  packages/erniebot/src/error.ts
  packages/erniebot/src/index.ts
  packages/erniebot/src/interfaces/backend.ts
  packages/erniebot/src/interfaces/index.ts
  packages/erniebot/src/resource.ts
  packages/erniebot/src/resources/chat/chat.ts
  packages/erniebot/src/resources/chat/completions.ts
  packages/erniebot/src/resources/embeddings.ts
  packages/erniebot/src/resources/index.ts
  packages/erniebot/src/resources/resource.ts
  samples/node/.env.example
  samples/node/.node-version
  samples/node/package.json
  vscode.code-workspace
Due: eslint, prettier --check

修改文档内容
  README.md
  packages/erniebot/README.md
Due: prettier --check

Update README.md
  README.md
Due: prettier --check

Create LICENSE
  LICENSE
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --check: (any of: *.json) or (any of: *.md)
